CREATE TABLE questions(

            frontend_id TEXT PRIMARY KEY,

            title TEXT,

            title_slug TEXT UNIQUE,

            difficulty TEXT,

            question_status TEXT,

            last_result TEXT,

            last_submitted_at TEXT,

            num_submitted INTEGER

        );
CREATE TABLE tags(

            slug TEXT PRIMARY KEY,

            name TEXT

        );
CREATE TABLE question_tags(

            question_slug TEXT,

            tag_slug TEXT,

            PRIMARY KEY(question_slug, tag_slug)

        );
CREATE TABLE submissions(

            submission_id TEXT PRIMARY KEY,

            question_slug TEXT,

            language TEXT,

            language_name TEXT,

            status INTEGER,

            status_display TEXT,

            runtime TEXT,

            memory TEXT,

            timestamp TEXT,

            url TEXT,

            code TEXT,

            raw_json TEXT

        );
CREATE INDEX idx_submission_slug

        ON submissions(question_slug);
